<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Species selection</title>
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/static/plants.css">
</head>

<body>
    <div class="header">
        <img src="/static/backgrounds/bz_logo_rgb.jpg" height="100" width="auto">
    </div>

    <div class="main mainInputs">
        <div class="container">
            <h1>Plants of the Bush</h1>
            <input type="text" id="myInput" onkeyup="myFunction()" placeholder="Search for plants">
            <div class="flex one two-600 three-800" id = "list">
              {% for species in species_list %}
                <span><a href="/species/{{species["plant_id"]}}" class="button inputButton">{{species["scientific_name"]}}</a></span>
              {% endfor %}
            </div>
        </div>
    </div>
    
    <div class="footer">
        <div class="container">
          <p>&copy; Koninklijke Burgers' Zoo</p>
        </div>
    </div>
  <script type="text/javascript" src="/static/input.js"></script> 
</body>
</html>