<!DOCTYPE html>
<html lang="en">

<head>
    <meta charset='utf-8'>
    <meta http-equiv='X-UA-Compatible' content='IE=edge'>
    <meta name='viewport' content='width=device-width, initial-scale=1'>
    <title>Plants of the Bush</title>
    <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 100 100%22><text y=%22.9em%22 font-size=%2290%22>🌴</text></svg>">
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/picnic">
    <link rel="stylesheet" href="/static/plants.css">
</head>

<body>
    <div class="header flex two two-600">
        <div class="logo">
            <img src="/static/backgrounds/bz_logo_rgb.jpg" height="100" width="auto">
        </div>

        <div class="login">
            <a href="/input" class="button">Login</a>
        </div>
    </div>

    <div class="main">
        <div class="container">
            <h1>Plants of the Bush</h1>
            <p>The Bush exhibit attempts to replicate a natural rainforest with its ~1500
                species of tropical plants from Africa, Asia, and South America. It is successful
                in replicating the feeling of being a forest through careful management by the
                staff. However, since it is ultimately a controlled environment, the Bush exhibit
                is bound to be different from natural rainforests.</p>
            <p>The animals and plants in the Bush exhibit are likely to behave differently than
                their natural environments. Animals may have different daily activity patterns,
                while plants may flower and fruit at different times than expected. The possible
                differences are numerous, but knowing all of these is not essential to our work at
                Burgers' Zoo.</p>
            <p>For now, we are interested in the flowering and fruiting patterns of a few plant
                species in the Bush exhibit. We (and by that, I mean you) will be collecting data
                for these plant species beyond 2022 for a few years. These data will include the
                the flowering and fruiting stages of plants at any given point in time, along with
                the amount of flowers and fruits, and any interesting comments.</p>
            <h3>Project conceptualization</h3>
            <p>Hi! Thank you for using this tool and joining the plant monitoring project at
                Burgers' Zoo. My name is Catherine, and this is one of the products of my
                internship at Burgers' Zoo. I am a graduate student at Wageningen University &
                Research, and under the supervision of Constanze Mager, I was in charge of
                laying the foundation for future research into the flowering and fruiting
                patterns of plants in the Bush exhibit. Over the course of a few months, I was
                able to develop this tool so collecting data would be easier for you. I hope
                you enjoy using this tool!

              <p>Ready to monitor some plants? Go ahead and  <a href="/input" class="button">Login</a></p>

            </div>
<!--Tried to get inline button for login at bottom of page and it is stuck on the right hand side of the page, also line 51-54 in css-->
        </div>
    </div>

    <div class="footer">
        <div class="container">
          <p>&copy; Koninklijke Burgers' Zoo</p>
        </div>
    </div>
</body>
</html>